html, body {
    height: 100%;
    margin: 0;
}

.hover-effect {
    transition: transform 0.3s ease, background-color 0.3s;
}

.hover-effect:hover {
    border-color: #0d6efd;
    box-shadow: 0 10px 20px rgba(13, 110, 253, 0.5), 0 4px 8px rgba(13, 110, 253, 0.3);
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 0.5em;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}

#collection .card:hover .card-title {
    text-overflow: clip;
    white-space: normal;
}

#collection .card:hover .card-body {
    background: #212529 !important;
}