@if (Items != null)
{
    <Modal @ref="_modalRef" Visible="@IsVisible" VisibleChanged="@(value => IsVisibleChanged.InvokeAsync(value))">
        <ModalContent Centered Size="ModalSize.ExtraLarge" Scrollable="true">
            <ModalHeader>
                <ModalTitle>@Title</ModalTitle>
                <CloseButton @onclick="Hide"/>
            </ModalHeader>
            <ModalBody>
                <div class="grid-container">
                    @foreach (var item in Items)
                    {
                        <span class="badge @(_activeItems.Contains(item) ? "active" : "")"
                              @onclick="() => ToggleFilter(item)">
                            @item
                            </span>
                    }
                </div>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="ClearFilters">Reset</Button>
                <Button Color="Color.Primary">Search</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}