<Modal @ref="_modalRef">
    <ModalContent Centered Size="ModalSize.ExtraLarge" Scrollable="true">
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton @onclick="HideModal"/>
        </ModalHeader>
        <ModalBody>
            <div class="grid-container">
                @if (Items != null)
                {
                    @foreach (var item in Items)
                    {
                        <span class="badge @(_activeItems.Contains(item) ? "active" : "")"
                              @onclick="() => ToggleFilter(item)">
                            @item
                        </span>
                    }
                }
            </div>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" @onclick="ClearFilters">Reset</Button>
            <Button Color="Color.Primary" @onclick="() => OnItemsSelected.InvokeAsync(_activeItems)">Search</Button>
        </ModalFooter>
    </ModalContent>
</Modal>