@page "/AnimeList"
@attribute [StreamRendering]

<PageTitle>Anime List</PageTitle>

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container">
        <h1>Anime List</h1>
        <ul>
            @foreach (var anime in _animeList)
            {
                <li>@anime.Title</li>
            }
        </ul>
    </div>
}