@page "/AnimeDetail"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<h3>AnimeDetail</h3>

<video id="animeVideo" controls></video>

@code {
    private bool _isFirstRender = true;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _isFirstRender)
        {
            _isFirstRender = false;
            await SetVideoSource();
        }
    }

    private async Task SetVideoSource()
    {
        var videoUrl = "http://localhost:5118/Anime/Stream";
        await JSRuntime.InvokeVoidAsync("setVideoSource", "animeVideo", videoUrl);
    }

}