@page "/MangaDetail/{MangaId:int}"
@using MediaVisualizer.Web.Components.Layout
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

@if (_isLoading)
{
    <Spinning/>
}
else
{
    <main style="margin-top: auto !important;margin-bottom: auto !important;">
        <div class="collection-grid" id="collection">
            @foreach (var mangaPage in _pages)
            {
                @if (mangaPage.IsLoading)
                {
                }

                <div class="card" style="height: 300px">
                    <img alt="..." class="card-img object-fit-cover hover-effect @(mangaPage.IsLoading ? "d-none" : "")"
                         src="@mangaPage.pagePath" @onload="() => mangaPage.IsLoading = false" style="height: 300px">
                </div>
            }
        </div>
    </main>
}

<Footer _currentPage="_currentPage" _totalPages="_totalPages" OnPageChanged="OnPageChanged"/>