@page "/MangaDetail/{MangaId:int}"
@rendermode InteractiveServer
@inject HttpClient Http

<h3>MangaDetail</h3>

@if (mangaPages != null)
{
    <div>
        @foreach (var mangaPage in mangaPages)
        {
            <img src="@mangaPage" alt="Manga Page"/>
        }
    </div>
    @if (mangaPages.Count < mangaDto.PagesCount)
    {
        <button @onclick="LoadMore">Load More</button>
    }
}
else
{
    <p>Loading...</p>
}