@page "/MangaDetail/{MangaId:int}"
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))

@if (_isLoading)
{
    <Spinning/>
}
else
{
    <main>
        <div class="chapter-collection-grid py-3" id="chapter-collection">
            @foreach (var currentPage in _pages)
            {
                <div>
                    <img src="@(currentPage)" class="img-fluid hover-effect" style="height: 100%">
                </div>
            }
        </div>
    </main>
}