.hover-effect {
    transition: transform 0.3s ease, background-color 0.3s;
}

.hover-effect:hover {
    border-color: #0d6efd;
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.5);
}

.card {
    cursor: pointer;
    width: 35rem;
    padding: 0;
}

p {
    font-size: 5rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}