@rendermode InteractiveServer

<footer class="footer py-3 border-top">
    <div class="container">
        <nav aria-label="Page navigation">
            <Pagination Class="m-0 justify-content-center">
                <PaginationItem Disabled="@IsPageNavigationDisabled(PREVIOUS)" @onclick="Previous">
                    <PaginationLink>
                        <span aria-hidden="true">«</span>
                    </PaginationLink>
                </PaginationItem>
                @{
                    for (var i = 1; i <= _totalPages; i++)
                    {
                        var pageNumberAsString = i.ToString();
                        <PaginationItem @key="pageNumberAsString" Active="@IsActive(pageNumberAsString)">
                            <PaginationLink Page="@pageNumberAsString" Clicked="SetActive">
                                @pageNumberAsString
                            </PaginationLink>
                        </PaginationItem>
                    }
                }
                <PaginationItem Disabled="@IsPageNavigationDisabled(NEXT)" @onclick="Next">
                    <PaginationLink>
                        <span aria-hidden="true">»</span>
                    </PaginationLink>
                </PaginationItem>
            </Pagination>
        </nav>
    </div>
</footer>