@inherits LayoutComponentBase

<div class="container d-flex flex-column h-100">
    <Header/>

    <main style="margin-top: auto !important;margin-bottom: auto !important;">
        <div class="collection-grid" id="collection"></div>
    </main>

    <Footer/>
</div>